<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test1">
		<classes>
			<class name="TS_001_V4_GET_REQUEST.TC002_GET_Validating_Headers" />
			<class name="TS_001_V4_GET_REQUEST.TC001_GET_Request" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test2">
		<classes>
			<class name="TS_001_V4_GET_REQUEST.TC003_GET_Print_All_Headers" />
			<class name="TS_001_V4_GET_REQUEST.TC004_Validating_JSON_Response" />
		</classes>
	</test>
</suite> <!-- Suite -->